.navbar{
    display: flex ;
    padding: 20px 8%!important;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.159);
    color: white;
    position: fixed!important;
    top: 0;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(5px);;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);    
} 
.options{
    display: flex;
}
.options li{
    list-style: none;
    padding: 0 10px;
}
.navbar a{
    text-decoration: none ;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
}
#ijas{
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 1.3em;
}
.navbar a:hover{
    color: rgb(2, 227, 227);
    transition: 0.4s ease-in-out;
}
#mobile{
    display: none;
}

@media screen and (max-width: 769px) {
    .navbar{
        position: fixed!important;
        background-color: black;
    }
    .options{
        display: block;
        position: fixed;
        top: 70px;
        right: -300px;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: black;
        padding: 20px 35px;
        transform: 0.3s ease-in-out;
    }
    .optionsActive{
        display: block;
        position: fixed;
        top: 73px;
        right: 0px;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.327);
        padding: 20px 35px;
        transform: 0.3s ease-in-out;
        list-style: none;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.458);    

        
    }
    .options li{
        margin-top: 10px;
    }
    #mobile{
        display: inline;
        font-size: 1.3em;
    }
    
}
