.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 75%; /* Adjust the gradient width as needed */
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.95));
}
@media screen and (max-width:769px) {
  .component{
    margin-top: 70px;  
  }
}
